{% extends "base.html" %}
{% block page_content %}
    {% load i18n %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% trans "Detail blog" %}</title>
    </head>
    <div class="col-md-8 offset-md-2">
        <h1>{{ post.title }}</h1>
        <small>
            {{ post.created_on|date:"d.m.Y H:i:s" }} |&nbsp;
            {% if post.categories.all %}
                {% trans 'Categories' %} :&nbsp;
                {% for category in post.categories.all %}
                    <a href="{% url 'blog_category' category.name %}">
                        {{ category.name }}
                    </a>&nbsp;
                {% endfor %}
            {% else %}
                {% trans "There isn't any category" %}
            {% endif %}
        </small>
        <p>{{ post.body | linebreaks }}</p>
        {% if request.user.id == post.user.id %}
            <form action="/blog/edit/post/{{ post.id }}" method="get">
                <button class="btn btn-primary" type="submit" data-toggle="collapse"
                        data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">{% trans "Edit post" %}
                </button>
            </form>
        {% endif %}
        <h3>{% trans "Leave a comment:" %}</h3>
        <form action="/blog/{{ post.pk }}/" method="post">
            {% csrf_token %}
            {% if not request.user.is_authenticated %}
                <div class="form-group">
                    {{ form.author }}
                </div>
            {% endif %}
            <div class="form-group">
                {{ form.body }}
            </div>
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </form>
        {% if comments %}
            <h3>{% trans "Comments:" %}</h3>
            {% for comment in comments %}
                {% if comment.user.profile.avatar %}
                    </div>
                    <img class="col-md-2" src="{{ MEDIA_URL }}{{ comment.user.profile.avatar.url }}" alt=""
                         width="100px" height="100px">&nbsp;&nbsp;
                    <b>{{ comment.author }}</b> {% trans "wrote at" %} {{ comment.created_on|date:"H:i:s d.m.Y" }}
                    <div class="col-md-8 offset-md-2">
                {% else %}
                    <b>{{ comment.author }}</b> {% trans "wrote at" %} {{ comment.created_on|date:"H:i:s d.m.Y" }}
                {% endif %}
                <p>{{ comment.body }}</p>
                {% if request.user.id == comment.user.id %}
                    <form action="/blog/edit/comment/{{ comment.id }}" method="get">
                        <button class="btn btn-primary" type="submit" data-toggle="collapse"
                                data-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">{% trans "Edit commentary" %}
                        </button>
                    </form>
                {% endif %}
                <hr>
            {% endfor %}
        {% else %}
            <h3>{% trans "There isn't any comment yet" %}</h3>
        {% endif %}
        </div>
{% endblock %}