{% extends "base.html" %}
{% load i18n %}
{% block page_content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% trans "List of categories" %}</title>
    </head>
    <div class="col-md-8 offset-md-2">
        <h1>{{ category | title }}</h1>
        <hr>
        {% for post in posts %}
            <h2><a href="{% url 'detail_post' post.pk %}">{{ post.title }}</a></h2>
            <small>
                {{ post.created.date }} |&nbsp;
                {% trans "Categories" %}:&nbsp;
                {% for category in post.categories.all %}
                    <a href="{% url 'list_category' category.name %}">
                        {{ category.name }}
                    </a>&nbsp;
                {% endfor %}
            </small>
            <p>{{ post.body | slice:":400" }}...</p>
        {% endfor %}
    </div>
{% endblock %}