{% extends "base.html" %}
{% load i18n %}
{% block page_content %}
    <div class="col-md-8 offset-md-2">
        <h1 class="mt-2">{% trans "List of posts" %}</h1>
        <hr>
        {% for post in posts %}
            <h2><a href="{% url 'detail_post' post.pk %}">{{ post.title }}</a></h2>
            <small>
                {{ post.created_on.date }} {% trans "was written by" %} {% if post.profile %}
                {{ post.profile }} {% else %}
                {% trans "man, who deleted his account" %} {% endif %}|&nbsp;
                {% if post.categories.all %}
                    {% trans "Categories" %}:&nbsp;
                    {% for category in post.categories.all %}
                        <a href="{% url 'list_category' category.name %}">
                            {{ category.name }}
                        </a>&nbsp;
                    {% endfor %}
                {% else %}
                    {% trans "There isn't any category" %}
                {% endif %}
            </small>
            <p>{{ post.body | slice:":40" }}...</p>
        {% endfor %}
        <form action="/blog/create/post" method="get">
            <button class="btn btn-primary" type="submit" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">{% trans "Create new post" %}
            </button>
        </form>
    </div>
{% endblock %}