{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block page_content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% trans "List of projects" %}</title>
    </head>
    <h1 class="mt-2">{% trans "Projects" %}</h1>
    <div class="row">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <img class="card-img-top" src="{% static project.image %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description|truncatechars:250 }}</p>
                        <a href="{% url 'detail_project' project.pk %}"
                           class="btn btn-primary">
                            {% trans "Read More" %}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}